<div class="container">
 <div class="row">
  <div class="col-md-10">
<table class = "table table-hover">
<h5>商品一覧
<%= link_to new_admin_item_path do %>
  <i class="fa-solid fa-circle-plus fa-2x" ></i>
<% end %>
</h5>
<thead>
  <tr>
    <th>商品ID</th>
    <th></th>
    <th>商品名</th>
    <th></th>
    <th>税抜き価格</th>
  </tr>
</thead>
<tbody>
  <% @items.each do |item| %>
   <tr>
     <td><%= item.id %></td>
     <td></td>
     <td><%= link_to item.name, admin_item_path(item.id) %></td>
     <td></td>
     <td><%= item.price %></td>
   </tr>
  <% end %>
</tbody>
</table>
<%= paginate @items %>
  </div>
 </div>
</div>
